*.zip
*.crdownload
Model_Package/*
!Model_Package/data/
Model_Package/data/*
!Model_Package/data/contents/
Model_Package/data/contents/*
!Model_Package/data/contents/ChapmanR1/
!Model_Package/data/contents/ChapmanR1/*.py
